@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TandLægeHøjskolen</h1>
    <p class="lead">Dette vil være hjemmesidens index. Her vil være en oversigt over relevante studier.</p>
    <row>

        <button onclick=redirectViewToCreate() class="buttonclass">Deltage i studie</button>
       
      
    </row>
       
 

     
    
   
   
</div>